<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tv.seekers">


    <permission
        android:name="com.tv.seekers.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tv.seekers.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">


        <activity
            android:name="com.tv.seekers.activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name=".menu.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name=".activities.ChangePassword"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />


        <activity
            android:name=".activities.FilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name=".activities.ForgotPass"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />


        <activity
            android:name=".activities.AddFollowedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name=".activities.TermsAndConditions"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCmvCmACC2xkvGnDSxlAC3MDbbNzl2129A" />

        <service
            android:name="com.tv.seekers.uploadimg.UploadService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alexbbb.uploadservice.action.upload" />
            </intent-filter>
        </service>
    </application>

</manifest>
